body 
{
    font-family: "Inter", sans-serif;
    background-color: #1e1e2f;
    color: white;
}

.title-container
{
   
   text-align: center;
   font-size: x-large;
}

.main-content
{
    text-align: center;
    font-size: larger;
    text-decoration-style: solid;
}

.bold
{
    font-weight: bold;
}
.footer 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    min-height: px;
}

